.Nav, .Open {
  width: 100vw;
  height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: rgba(40, 40, 40, .9);
  position: fixed;
  top: -100vh;
  transition-duration: .5s;
  transition-timing-function: ease-out;
}
.Open {
  top: 0vh;
}
.Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 90vh;
  width: 100%;
}
.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  margin: 0px;
  cursor: pointer;
}
.Container:hover > .IconWrapper {
  color: rgb(80, 220, 120);
  transition-duration: .2s;
}
.IconName {
  color: rgba(255, 255, 255, 1);
  margin: 4px 0px;
  transition-duration: .2s;
}
.Container:hover > .IconName {
  color: rgba(255, 255, 255, 0);
  margin: 4px 0px;
}
.IconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  margin: 0px;
  transition-duration: .2s;
  color: rgb(255, 255, 255);
  font-size: 3em;
}
