.MenuBtn {
  width: 50px;
  height: 50px;
  top: 90vh;
  left: 80vw;
  display: flex;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: rgb(80, 220, 120);
  position: fixed;
  transition-duration: .3s;
  border: 2px solid rgba(255, 255, 255, 1);
}
.ToggleMenu {
  color: rgb(255, 255, 255);
  font-size: 24px;
  align-self: center;
  transition-duration: .3s;
}
.MenuBtn:hover {
  background: rgb(255, 255, 255);
  transition-duration: .3s;
  border: 2px solid rgba(80, 220, 120, 1);
  cursor: pointer;
}
.MenuBtn:hover .ToggleMenu {
  color: rgb(80, 220, 120);
  transition-duration: .3s;
}
